In [10]:
#pip install datasets

In [1]:
from document_preprocessor import RegexTokenizer
from indexing import Indexer, IndexType
from ranker import *
import pandas as pd
from tqdm import tqdm
from relevance import *
from collections import defaultdict
import csv
import gzip
import jsonlines
import json
from collections import defaultdict
import os
from tqdm import tqdm
from doc_augmentor import *
import numpy as np

In [9]:
import pandas as pd
import jsonlines

dataset = pd.read_json('data/documents_full_contents.jsonl', lines=True)
first_5_documents = dataset.head(100000)

with jsonlines.open('data/test_content_documents.jsonl', mode='w') as writer:
    for _, row in first_5_documents.iterrows():
        writer.write(row.to_dict())

print("First 5 documents have been written to 'data/test_documents.jsonl'")

First 5 documents have been written to 'data/test_documents.jsonl'

In [3]:
dataset = pd.read_json ('data/documents_full_contents.jsonl', lines=True)

In [4]:
dataset

         docid                                            content
0           99  What is your favourite non-English saying, and...
1          240  What would you do if someone offers u a free a...
2          409  To all airplane riders, what is the most scare...
3          461  What lie do you tell routinely? Why? "My favor...
4          626  What is a history fact that is so stupid it do...
...        ...                                                ...
99995  9999430  People of Reddit, what's the spookiest thing t...
99996  9999615  What makes a girl/woman a "slut"? Double stand...
99997  9999766  What are examples of society being too politic...
99998  9999847  Why is America fatter than it was before? **PL...
99999  9999858  What is your most favourite video game? pokemo...

[100000 rows x 2 columns]

In [11]:
docid = list(dataset['docid'])

In [10]:
input_file = 'data/test_content_documents.jsonl'
doc_to_post = read_jsonl(input_file)

augmentor = DocumentAugmentor(doc_to_post)
docids = list(doc_to_post.keys())
augmented_documents = augmentor.augment_docs(docids)

output_file = 'data/augmented_data_100K.jsonl'
write_jsonl(augmented_documents, output_file)
print(f"Augmented data has been written to {output_file}")

Augmenting documents: 100%|██████████| 100000/100000 [00:00<00:00, 542515.15it/s]

Augmented data has been written to data/augmented_data_100K.jsonl
Augmented data has been written to data/augmented_data_100K.jsonl